@use "../base/variables";
@use "../utils/placeholders";

.blog {
    padding: variables.$spacing-large 0;
    background-color: variables.$color-text-light;

    &__title {
        text-align: center;
        margin-bottom: variables.$spacing-large;
    }

    .blog-post {
        @extend %card;

        &__read-more {
            display: inline-block;
            margin: auto variables.$spacing-medium variables.$spacing-medium;
            color: variables.$color-primary;
            font-weight: 600;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}