@use "../base/variables";
@use "../utils/placeholders";

.projects {
    padding: variables.$spacing-large 0;

    &__title {
        text-align: center;
        margin-bottom: variables.$spacing-large;
    }

    .project-card {
        @extend %card;
        background-color: variables.$color-text-light;
    }
}